
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="../styles/app.css">
    <title>Articles - Wireless power transfer (Power Drop Concept)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md fixed-top">
      <a class="navbar-brand font-weight-bold" href="#">Arif Waqas</a>
      <button class="navbar-toggler" onclick="toggleNav()" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span id="myBtn" class="fas fa-bars">  
          </span>
    </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../index.html"><span>Home</span> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="blog.html"><span>Blog</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="projects.html"><span>Projects</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container-fluid">
    <section class="showcase container-fluid">
     <div class="codebg-wrapper">
        <div class="codebg" id="">
            <div class="overlay"></div>
          <div class="content">
            <div class="content-top">
              <div class="header-text article-fn">
              </div><!--/.header-text-->
              <h2 class="article-title"><span></span>Wireless Power Transfer</h2>
          
                <div class="picture article-fn"></div>
            </div> 
          </div>
        
        </div> 
     </div> 
    </section>   
    <section class="blog">
      <div class="blog-wrapper">
        <div class="blog-intro">
          <p class="article-author">Written by Arif Waqas; June,2019</p>
          <hr>
          <div class="article-content">
            <h5>The Conceptual Power Drop</h5>
                <p>There is this freelance designer Alvaro Pabesio based in Spain, that I really admire the work of. His instagram feed is really aesthetic, surely check him out if you guys are into that sort of thing. This morning he posted something that really caught my eye. He posted this concept of something called an power drop. According to Alvaro “... PowerDrop; sort of an Air Drop, but instead of file sharing, its power. I’m pretty sure the future of iPhones (or smartphones in general) is completely wireless.” He believes that Apple will sooner or later implement true long range wireless charging. He further goes on to clarify how this is different from the so called wireless charging right now which uses Qi technology, basically touching the back of the phone. PowerDrop he believes will be able to transfer power over long distances, just like we do with data using AirDrop.
                </p>  
                <br>
                <img style="width: 45%;display: block;margin: 0 auto; "src="../img/art-3-1.jpg"><br><p style="text-align: center">(In pic: Alvaro Pabesio)</p>
                <br>          
                <p>It would really be cool though, you know. Asking your friend if you could borrow a little bit of their battery life, just like you do when you run out of spare change. In a modern world where most of your shit is dependent upon phones and virtual stuff in general; from your credit cards, to bank transfers, to general grocery payments, this dependency though comes at a cost; battery life. Such a big breakthrough it would be, I feel, in the techno world. </p>
                <br>
                <p>So taking interests forward, I tried searching a bit here and there, about his whole power through the air thingy. I mean if you could transfer data over long range, there must be a possibility of sending power through this same direct. The only twist would be that it will have to be converted into some sort of signal to be transferred through a medium like air? Through some sort of wave? Wave is a common term for a number of different ways in which energy is transferred. </p>
                <br>
                <img style="width: 45%;display: block;margin: 0 auto; "src="../img/art-3-2.png"><br><p style="text-align: center"></p>
                <br>
                <p>You see, electricity can indeed be transferred through the air. But here’s the catch; standard temperature and pressure of air has very high resistance to the flow of electric current.  This is a good thing. Ever wondered what makes walking under high voltage power lines convenient? Yeah, now you do know. So there must certainly be a way around this problem. I mean think about it you can’t directly transfer power; but what if you could convert it into something, this could open the gates to several possibilities.</p>
                <br>
                <p>According to Chun T. RIm, a professor in the Quantum Energy department in KAIST, the leader of the team that showcased the DCRS back in 2014, "Our technology proved the possibility of a new remote power delivery mechanism that has never been tried at such a long distance. Although the long-range wireless power transfer is still in an early stage of commercialization and quite costly to implement, we believe that this is the right direction for electric power to be supplied in the future. Just like we see Wi-Fi zones everywhere today, we will eventually have many Wi-Power zones at such places as restaurants and streets that provide electric power wirelessly to electronic devices. We will use all the devices anywhere without tangled wires attached and anytime without worrying about charging their batteries."
                    The entire concept of Power Zones in itself is so cool.
                    </p>
                <br>
                <img style="width: 45%;display: block;margin: 0 auto; "src="../img/art-3-3.jpg"><br><p style="text-align: center"></p>
                <br>
                <p>It is notable how the world is moving towards a system without wires. Companies like Apple and google have constantly on the push for reducing the number of ports on their phone motivating wireless connectivity in general. Google’s chromecast is another such example which eliminates the use of HDMI cables.`
                </p>
                <br>
            </div>
          
        </div>
        
        </div>
       <div class="hrln"><hr> </div>  </div>
      
    </section>   
    </main>

    <footer class=""> 
        <p><span class="footer-cus">&copy; 2019 Arif Waqas Productions. All rights reserved.</span></p>
    </footer>

    
    <script>
        let navStatus=false;
        function toggleNav(){
          if(navStatus===false){
            navStatus=true;
            document.getElementById('myBtn').style.color= '#c70039';
          }
          else{
            navStatus = false;
            document.getElementById('myBtn').style.color = '#505050';
          }
        }
     function openSlideMenu(){
        
      }
      function closeSlideMenu(){     
        
      }
      </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
