
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="../styles/app.css">
    <title>Articles - Witching over to Linux</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md fixed-top">
      <a class="navbar-brand font-weight-bold" href="#">Arif Waqas</a>
      <button class="navbar-toggler" onclick="toggleNav()" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span id="myBtn" class="fas fa-bars">  
          </span>
    </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../index.html"><span>Home</span> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="blog.html"><span>Blog</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="projects.html"><span>Projects</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container-fluid">
    <section class="showcase container-fluid">
     <div class="codebg-wrapper">
        <div class="codebg" id="art-2">
            <div class="overlay"></div>
          <div class="content">
            <div class="content-top">
              <div class="header-text article-fn">
              </div><!--/.header-text-->
              <h2 class="article-title"><span></span>Switching over to <span>Linux</span> Mint<span>.</span></h2>
          
                <div class="picture article-fn"></div>
            </div> 
          </div>
        
        </div> 
     </div> 
    </section>   
    <section class="blog">
      <div class="blog-wrapper">
        <div class="blog-intro">
          <p class="article-author">Written by Arif Waqas; 5th January,2019</p>
          <hr>
          <div style="font-size: 18px;"class="article-content">
            <h5></h5>
            <p>Before I start off with anything about my experience (Feel free to just skip the next few paragraphs in case you have less number of fucks to give), lets get a rough idea of what exactly linux is. SO, linux is an operating system, and more than that, it is an 'open-source' operating system. However when we are going to mention linux mostly we are gonna be talking about the linux kernel and not the OS itself. It was developed by Linus Torvalds, a software engineer of finnish american origin, thanks to wikipedia. We can say that the linux kernel was the grand daddy of modern day linux based operating systems such as that gigantic android, and chrome OS.
              <br><br><img style="width: 25%;display: block;margin: 0 auto; "src="/img/article-2-2.jpg"><br><p style="text-align: center">(Photo for the guy for God knows why.)</p><br><br>
                Unlike wondows or mac, linux source code is open to the public. This does mean everyone including you can view and modify the code, and you might think that as a result of this, linux must be prone to hacking and security flaws but its totally vice versa. This is because there are more number of people eager to make an open source foundation safe for everyone as compared to the number of people trying to exploit the same. Not all superhumans wear capes after all. ;) </p>
                <br>
                <h5>Back Story</h5>
                <p>So the windows 10 that I had on my HP Envy had some scheduled updates that it was begging me to perform since about a week. I let the update sit, and it ended up making my PC unusable for more than 3 fricking hours. I mean why cant you just do all of the stuff in the background while letting me work. Instead of me losing all the precious hours of my life to just web surfing and  cat videos on youtube, I could have worked on my React project maybe. Whatever.
                    <br><br>
                While surfing a web I came across this particular article, whihc had a link to a video of a guy explaining 10 reasons why linux is better than windows. If I remember properly, his name was 'Engineer Man'. And then I began my hunt, after hunt, after hunt, searching for valid reasons why linux was actually better. There were man. Better security. Faster everything. More battery. Less RAM consumption. AND NO FRICKIN' ADVERTISEMENTS literally begging me to use Edge.
                </p>

                <img style="width: 45%;display: block;margin: 0 auto; "src="../img/article-2-3.jpg"><br><p style="text-align: center">(Seriously microsoft?)</p>


                <h5>The Present</h5>
                <p> Spent the next couple hours searching on the web for the distros, and which was better than which, and for what. Come across Linux Mint. Perfect. Installed the iso. Installed Win32 Image Burner. Burned it to a USB Stick. Set my lappy up to boot with the USB Stick. And there it was, Mint, fired up smooth and well.</p>
                   
                <p>I happened to like the clean interface that it has to offer. along with a really minimalistic design, absolutely no bloatware, and all of the essential softwares, such as word, excel, powerpoint, and other security requisites, came pre-installed. Not to forget all of them were removable, hence we cannot categorize them under bloatware. There were tons and tons of theming options available right off the bat. The file operations and installations were also free of gimmicks, as most of them are performed using the terminal itself</p>
                <br>
                <img style="width: 65%;display: block;margin: 0 auto; "src="../img/article-2-4.jpg"><br><p style="text-align: center">(One word. Neat.)</p>
                <br>
                <h5>Why Linux?</h5>
                <p><strong>Price:</strong> Microsoft windows is costly compared to Linux as each license costs between $50.00-$100.00.<br>
                    <strong>Security:</strong> When compared to linux it is much more prone to viruses and other attacks.<br>
                    <strong>Reliability:</strong> It needs to be rebooted periodically else there is a possibility of hang up of the system.<br>
                    <stron>Cost:</stron> Even though the windows have softwares,games for free most of the programs will cost more than $200.<br>
                    <strong>NO advertisements (Biggest deal):</strong> All those pesky little advertisements and upgrade offers to use windows related services? No more.<br>

                </p>
                <img style="width: 65%;display: block;margin: 0 auto; "src="../img/article-2-1.jpg"><br><p style="text-align: center">(Photo of my interface with the terminal and tons of shit open cuz why not.)</p>
                <h5>The "Only" Disadvantage</h5>
                <p>The only disavantage will be hardwares. Due to vast number of manufacturers and vast varieties of hardwares that come equiped in a notebook computer. It might turn out to be nightmare when you will find that a certain hardware underperforms under the opensource umbrella. So if you are planning to dive into the linux world I would suggest going through a with the dual boot first. Create a seperate partition for the linux distro, install it, test it, look if everything works the way you expect it to, and if you seem satisfied, go full on. Wipe the drives with the windows,convert them into unallocated segments and merge it with your linux drives. </p>
                <img style="width: 25%;display: block;margin: 0 auto; "src="../img/article-2-5.jpg"><br><p style="text-align: center">(Worth the change? You use. You decide.  For me, it was.)</p>

                <p>The official linux mint website: <a href= "https://www.linuxmint.com">www.linuxmint.com</a></p>
          </div>
          
        </div>
        
        </div>
       <div class="hrln"><hr> </div>  </div>
      
    </section>   
    </main>

    <footer class=""> 
        <p><span class="footer-cus">&copy; 2019 Arif Waqas Productions. All rights reserved.</span></p>
    </footer>

    
    <script>
        let navStatus=false;
        function toggleNav(){
          if(navStatus===false){
            navStatus=true;
            document.getElementById('myBtn').style.color= '#c70039';
          }
          else{
            navStatus = false;
            document.getElementById('myBtn').style.color = '#505050';
          }
        }
     function openSlideMenu(){
        
      }
      function closeSlideMenu(){     
        
      }
      </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
