
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="../styles/app.css">
    <title>Arif Waqas - Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md fixed-top">
      <a class="navbar-brand font-weight-bold" href="#">Arif Waqas</a>
      <button class="navbar-toggler" onclick="toggleNav()" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span id="myBtn" class="fas fa-bars">  
          </span>
    </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../index.html"><span>Home</span> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"><span>Blog</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="projects.html"><span>Projects</span></a>
          </li>
         
        </ul>
      </div>
    </nav>

    <main role="main" class="container-fluid">
    <section class="showcase container-fluid">
     <div class="codebg-wrapper">
        <div class="codebg" id="blogbg">
          <div class="content">
            <div class="content-top">
              <div class="header-text">
                  <h2 class="intro-1">Welcome<span>,</span> </h2><h2 class="intro-2">to my<br>blog<span>.</span></h2>  
              </div><!--/.header-text-->
                  <div class="picture article-st"></div>
                 <!-- <p class="sub-3">I like to write, sometimes<span>.</span></p>-->
            </div> 
          </div>
        </div> 
     </div> 
    </section>   
    <section class="blog">
      <div class="blog-wrapper">
        <div class="blog-intro">
          <h2>Arifsonit.<span></span></h2>
          <div class="hrln"><hr> </div> 
          <div class="intro-para">
          <p>I have a belief the internet is the best platform to spill the ink of my mind. I write sometimes to kill both time and boredom, but the topics are mostly out of the blue something that might have caught my attention lately or a post from somewhere else that I liked a lot. Well there you go, a blog of my own. Happy reading. </p>  
          <div class="hrln"><hr> </div> 
        </div>
        </div>
        <div class="blog-posts">
            <div class="row mb-2">
                <div class="col-md-12">
                  <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                      <strong class="d-inline-block mb-2 text-bl">Software</strong>
                      <h3 class="mb-0">
                        <a class="text-dark" href="../components/article-2.html"> Switching over to Linux Mint</a>
                      </h3>
                      <div class="mb-1 text-muted">Jan 16,2019</div>
                      <p class="card-text mb-auto">Ever thought about switching to ubuntu or any other linux based distribution? Well, I did. And I was quick to make the change into a reality. Find out everything that you need to know about switching over right here.</p>
                      <a href="../components/article-2.html" class="btn btn-outline-primary" role="button">Continue Reading...</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" src="/img/article-2-4-1.jpg" style="height:255px;" alt="Card image cap">
                  </div>
                </div>
              </div>
            <div class="row mb-2">
                <div class="col-md-12">
                  <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                      <strong class="d-inline-block mb-2 text-bl">Web Development</strong>
                      <h3 class="mb-0">
                        <a class="text-dark" href="../components/what-is-Git.html">What is Git?</a>
                      </h3>
                      <div class="mb-1 text-muted">Jan 12,2019</div>
                      <p class="card-text mb-auto">Everything you need to know about Git. Git is a version-control system for tracking changes in computer files and coordinating work on those files among multiple people. It is primarily used for source-code management in software as well as web development.</p>
                      <a href="/components/what-is-Git.html" class="btn btn-outline-primary" role="button">Continue Reading...</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" src="/img/article 1.jpg" style="height:250px;" alt="Card image cap">
                  </div>
                </div>
              </div>
             
              <!--<div class="row mb-2">
                  <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                      <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-bl">Web Development</strong>
                        <h3 class="mb-0">
                          <a class="text-dark" href="#">What is Git?</a>
                        </h3>
                        <div class="mb-1 text-muted">January 5,2019</div>
                        <p class="card-text mb-auto"></p>
                        <a href="#">Continue reading</a>
                      </div>
                      <img class="card-img-right flex-auto d-none d-md-block" src="/img/article 1.jpg" style="height:250px;" alt="Card image cap">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                      <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-bl">Design</strong>
                        <h3 class="mb-0">
                          <a class="text-dark" href="#">Post title</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#">Continue reading</a>
                      </div>
                      <img class="card-img-right flex-auto d-none d-md-block" src="/img/bp-1.jpg" style="height:250px;" alt="Card image cap">
                    </div>
                  </div>
                </div>-->
              </div>
       <div class="hrln"><hr> </div>  </div>
      
      </div>
      
    </section>   
    </main>

    <footer class=""> 
        <p><span class="footer-cus">&copy; 2019 Arif Waqas Productions. All rights reserved.</span></p>
    </footer>

    
    <script>
        let navStatus=false;
        function toggleNav(){
          if(navStatus===false){
            navStatus=true;
            document.getElementById('myBtn').style.color= '#c70039';
          }
          else{
            navStatus = false;
            document.getElementById('myBtn').style.color = '#505050';
          }
        }
     function openSlideMenu(){
        
      }
      function closeSlideMenu(){     
        
      }
      </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
